/* variables declawarmorange here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #070F1C;
  --navy: #0f0a32;
  --plum: #400243;
  --green: #A1FFFF;
  --pink: #fd57f7;
  --white: #fff4e6;
  --font-size: 1.3rem;
  --mono: "Rubik", sans-serif;
  --sans: "Arima", cursive;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background: var(--black) url('../img/stars-image.jpg') no-repeat center center fixed; /* Added background image */
  background-size: cover; 
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

/* To scale img */
img {
  width: 100%;
}

/* navbar styles*/
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--green);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--green);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: var(--green);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--white);
}

nav .button {
  background-color: var(--green);
  color: var(--navy);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}

nav .button:hover {
  background-color: transparent;
  color: var(--white);
}

/* footer styles */
footer {
  text-align: center;
  padding: 4rem 0;
}

nav svg {
  color: var(--green);
}

nav svg:hover {
  color: var(--green);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

footer a,
footer [class*="fa-"] {
  color: var(--green);
}

footer a,
footer [class*="fa-"]:hover {
  color: var(--green);
}

/* intro styles */
#intro {
  padding: 7rem 1rem 10rem 1rem;
  padding-bottom: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p, #about{
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--green);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

#intro a {
  color: var(--white);
}

#intro a:hover {
  color: var(--green);
}

/* contact styles */
#contact {
  width: 400px;
  text-align: center;
  padding: 3rem 0;
  margin: 0 auto;
}

#contact {
  width: 400px;
  text-align: center;
  padding: 3rem 0;
  margin: 0 auto;
}

#contact a {

  text-decoration: none;
  color: var(--color-white) !important;
  box-shadow: inset 0 0 2.5rem var(--pink) !important;
  border-radius: 2.5em;
  text-align: center;
  color: #a1ffff;
 padding: 0.7rem 1rem 0.55rem;

}

#contact a:hover {
  color: var(--white);
  background-color: var(--pink);
  transition: all 0.5s
}

#contact p:last-child {
  margin-top: 3rem;
}

/* projects styles */

#projects a {
  color: var(--white);
}

#projects a:hover {
  color: var(--pink);
}

#projects .highlight {
  color: #c156a3;
}

#projects,
#about {
  padding: 4rem 1rem;
}

#projects h2,
#about h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3,
#about h3 {
  color: var(--pink);
}

#projects h4,
#about h4 {
  font-size: 1rem;
  margin: 0;
}

#projects svg {
  color: var(--white);
  padding: 0.1rem;
}

#projects svg:hover {
  color: var(--pink);
}

.blackbox {
  background-color: var(--navy);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}


#projects ul,
.tech-stack{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#projects img {
  border-left: 1px solid var(--white);
  border-top: 1px solid var(--white);
}

#projects img,
#about img {
  margin: 2rem 0 4rem 0;
  height: auto;
  border-radius: 25px;
  padding: 1rem;
}
#about .color-pink {
color: var(--pink);
}

#about .myskills-icons img {
  border-left: 1px solid var(--white);
  border-top: 1px solid var(--white);
  width: 6rem;
  margin: 0.5rem;
}

.myskills-icons {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(8rem, 1fr));
  gap: 1rem;
}

#projects .tech-stack>.item {
  padding: 0.25em 0.75em;
  border-radius: 2.5em;
  text-align: center;
  color: #a1ffff;
  font-size: 0.75rem;
  font-weight: 400;
  box-shadow: inset 0 0 2.5rem #54c0e8;
  overflow: hidden;
  text-overflow: ellipsis;/
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img{
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .text,
  .reverse {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  #projects ul{
    justify-content: flex-end;
  }
}

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  #projects,
  #about {
    max-width: 1200px;
    margin: 0 auto;
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  #projects ul{
    justify-content: flex-end;
  }

  #projects .reverse .text{
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  #projects .reverse img{
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #projects .reverse ul{
    justify-content: flex-start;
  }

  #projects .tech-stack {
    justify-content: flex-end;
  }

  #projects .reverse .tech-stack {
    justify-content: flex-start;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

/*background divs color*/

.section-black {
  background-color: var(--black);
}


.gradient {
  height: 2.5px;
  background: linear-gradient(90deg, #fd57f7 2%, #54c0e8 16%, #a1ffff 32%, #fd57f7  49%, #54c0e8 66%, #a1ffff 82%, #fd57f7 98%);
}